<div class="modal-header">
  <h4 class="modal-title" id="modal-primary-title" translate>BtnAbout</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body centered">
  <div class="modal-body">
    <h1 class="text-center" translate>Name</h1>
    <div *ngIf="isRTL == true">
      <h2 class="text-center">{{version}} :<label translate>Version</label></h2>
    </div>
    <div *ngIf="isRTL == false">
      <h2 class="text-center"><label translate>Version</label>: {{version}}</h2>
    </div>
  </div>
</div>
