<div class="modal-header" [ngStyle]="(isRTL) ? {'direction': 'rtl'} : {'direction': 'ltr'}">
  <h4 class="modal-title" id="modal-primary-title" translate>BtnAbout</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" [ngStyle]="styleHeader()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body centered">
  <div class="modal-body">
    <h1 class="text-center" translate>Name</h1>
    <h2 class="text-center" [dir]="dirRTL"><label translate>Version</label>: {{version}}</h2>
    <div class="text-center">Logo icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</div>
