<div class="modal-header">
  <h4 class="modal-title" id="modal-primary-title" translate>BtnAbout</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body centered">
  <div class="modal-body">
    <h1 class="text-center" translate>Name</h1>
    <h2 class="text-center" [dir]="dirRTL"><label translate>Version</label>: {{version}}</h2>
  </div>
</div>

<style *ngIf="isRTL == true">
  .modal-header {
    direction: rtl;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem auto -1rem -1rem;
  }
</style>
