img.countryImg {
  width: 48px;
}

.list-group {
  margin: auto;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  display:inline-block;
  scrollbar-width: thin;
}

a {
  cursor: pointer;
}
