<form [formGroup]="asylumSeekerForm" (ngSubmit)="onSubmit()">

  <h1>Register:</h1>

  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <h2>Step #1</h2>
    <div class="form-group">
      <input placeholder="First name..." formControlName="fName" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="Last name..." formControlName="lName" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2>Step #2</h2>
    <div class="form-group">
      <input placeholder="E-mail..." formControlName="email" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="Phone..." formControlName="tel" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2>Step #3</h2>
    <h3>Birthday</h3>
    <div class="form-group">
      <input type="number" placeholder="dd" formControlName="day" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input type="number" placeholder="mm" formControlName="month" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input type="number" placeholder="yyyy" formControlName="year" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2>Step #4</h2>
    <div class="form-group">
      <input placeholder="Username..." formControlName="username" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="Password..." formControlName="password" type="password" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2>Submitted</h2>
    <br />
    <a [routerLink]="['/options']" class="btn btn-success">Return</a>
  </div>

  <div style="overflow:auto;" id="divOptions">
    <div style="float:right;">
      <button type="button" id="prevBtn" (click)="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" (click)="nextPrev(1)">Next</button>
      <button type="submit" id="submitBtn" style="display: none">Submit</button>
    </div>
  </div>

  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>

</form>
