<form [formGroup]="asylumSeekerForm" (ngSubmit)="onSubmit()">

  <h1>Register:</h1>

  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <h2 translate>Step1</h2>
    <div class="form-group">
      <input placeholder="First name..." formControlName="fName" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="Last name..." formControlName="lName" oninput="this.className = ''" class="form-control" />
    </div>
    <a (click)="textToSpeech(1)" id="btnSpeech1">
      <img class="speaker" src="assets/img/icons/speaker.png" alt="text to speech" />
    </a>
    <a (click)="textPause(1)" class="speakerDisabled" id="btnPause1">
      <img class="speaker" src="assets/img/icons/pause.png" alt="pause" />
    </a>
    <a (click)="textPlay(1)" class="speakerDisabled" id="btnPlay1">
      <img class="speaker" src="assets/img/icons/play.png" alt="pause" />
    </a>
    <a (click)="textToSpeechOff(1)" class="speakerDisabled" id="btnSpeechOff1">
      <img class="speaker" src="assets/img/icons/speaker-off.png" alt="stop" />
    </a>
  </div>

  <div class="tab">
    <h2 translate>Step2</h2>
    <div class="form-group">
      <input placeholder="E-mail..." formControlName="email" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="Phone..." formControlName="tel" oninput="this.className = ''" class="form-control" />
    </div>
    <a (click)="textToSpeech(2)" id="btnSpeech2">
      <img class="speaker" src="assets/img/icons/speaker.png" alt="text to speech" />
    </a>
    <a (click)="textPause(2)" class="speakerDisabled" id="btnPause2">
      <img class="speaker" src="assets/img/icons/pause.png" alt="pause" />
    </a>
    <a (click)="textPlay(2)" class="speakerDisabled" id="btnPlay2">
      <img class="speaker" src="assets/img/icons/play.png" alt="play" />
    </a>
    <a (click)="textToSpeechOff(2)" class="speakerDisabled" id="btnSpeechOff2">
      <img class="speaker" src="assets/img/icons/speaker-off.png" alt="stop" />
    </a>
  </div>

  <div class="tab">
    <h2 translate>Step3</h2>
    <h3>Birthday</h3>
    <div class="form-group">
      <input type="number" placeholder="dd" formControlName="day" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input type="number" placeholder="mm" formControlName="month" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input type="number" placeholder="yyyy" formControlName="year" oninput="this.className = ''" class="form-control" />
    </div>
    <a (click)="textToSpeech(3)" id="btnSpeech3">
      <img class="speaker" src="assets/img/icons/speaker.png" alt="text to speech" />
    </a>
    <a (click)="textPause(3)" class="speakerDisabled" id="btnPause3">
      <img class="speaker" src="assets/img/icons/pause.png" alt="pause" />
    </a>
    <a (click)="textPlay(3)" class="speakerDisabled" id="btnPlay3">
      <img class="speaker" src="assets/img/icons/play.png" alt="play" />
    </a>
    <a (click)="textToSpeechOff(3)" class="speakerDisabled" id="btnSpeechOff3">
      <img class="speaker" src="assets/img/icons/speaker-off.png" alt="stop" />
    </a>
  </div>

  <div class="tab">
    <h2 translate>Step4</h2>
    <div class="form-group">
      <input placeholder="Username..." formControlName="username" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="Password..." formControlName="password" type="password" oninput="this.className = ''" class="form-control" />
    </div>
    <a (click)="textToSpeech(4)" id="btnSpeech4">
      <img class="speaker" src="assets/img/icons/speaker.png" alt="text to speech" />
    </a>
    <a (click)="textPause(4)" class="speakerDisabled" id="btnPause4">
      <img class="speaker" src="assets/img/icons/pause.png" alt="pause" />
    </a>
    <a (click)="textPlay(4)" class="speakerDisabled" id="btnPlay4">
      <img class="speaker" src="assets/img/icons/play.png" alt="play" />
    </a>
    <a (click)="textToSpeechOff(4)" class="speakerDisabled" id="btnSpeechOff4">
      <img class="speaker" src="assets/img/icons/speaker-off.png" alt="stop" />
    </a>
  </div>

  <div class="tab">
    <h2>Submitted</h2>
    <br />
    <a [routerLink]="['/options']" class="btn btn-success" translate>BtnReturn</a>
  </div>

  <div id="divOptions">
    <div *ngIf="isRTL == false" id="divOptionsInnerRight">
      <a [routerLink]="['/options']" class="btn btn-light" translate>BtnExit</a>
      <button type="button" id="prevBtn" class="btn btn-secondary" (click)="nextPrev(-1)" translate>BtnPrev</button>
      <button type="button" id="nextBtn" class="btn btn-primary" (click)="nextPrev(1)" translate>BtnNext</button>
      <button type="submit" id="submitBtn" class="btnOff btn btn-success" translate>BtnSubmit</button>
    </div>
    <div *ngIf="isRTL == true" id="divOptionsInnerLeft">
      <button type="submit" id="submitBtn" class="btnOff btn btn-success" translate>BtnSubmit</button>
      <button type="button" id="nextBtn" class="btn btn-primary" (click)="nextPrev(1)" translate>BtnNext</button>
      <button type="button" id="prevBtn" class="btn btn-secondary" (click)="nextPrev(-1)" translate>BtnPrev</button>
      <a [routerLink]="['/options']" class="btn btn-light" translate>BtnExit</a>
    </div>
  </div>

  <!-- Circles which indicates the steps of the form: -->
  <div class="divSteps">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>

</form>

<app-footer></app-footer>

<router-outlet></router-outlet>
