<form [formGroup]="asylumSeekerForm" (ngSubmit)="onSubmit()">

  <h1 translate>TitleForm</h1>

  <div class="tab">
    <h2 translate>Step1</h2>
    <div class="form-group">
      <input placeholder="{{'Input1Form' | translate}}" dir="{{dirRTL}}" formControlName="fName" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="{{'Input2Form' | translate}}" formControlName="lName" dir="{{dirRTL}}" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2 translate>Step2</h2>
    <div class="form-group">
      <input placeholder="{{'Input3Form' | translate}}" formControlName="email" dir="{{dirRTL}}" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="{{'Input4Form' | translate}}" formControlName="tel" dir="{{dirRTL}}" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2 translate>Step3</h2>
    <h3 translate>SubtitleForm1</h3>
    <div class="form-group">
      <input type="number" placeholder="{{'Input5Form' | translate}}" formControlName="day" dir="{{dirRTL}}" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input type="number" placeholder="{{'Input6Form' | translate}}" formControlName="month" dir="{{dirRTL}}" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input type="number" placeholder="{{'Input7Form' | translate}}" formControlName="year" dir="{{dirRTL}}" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2 translate>Step4</h2>
    <div class="form-group">
      <input placeholder="{{'Input8Form' | translate}}" formControlName="username" dir="{{dirRTL}}" oninput="this.className = ''" class="form-control" />
    </div>
    <div class="form-group">
      <input placeholder="{{'Input9Form' | translate}}" formControlName="password" dir="{{dirRTL}}" type="password" oninput="this.className = ''" class="form-control" />
    </div>
  </div>

  <div class="tab">
    <h2 translate>SubtitleForm2</h2>
    <br />
    <div [innerHtml]="table">
    </div>
    <a [routerLink]="['/options']" class="btn btn-success" translate>BtnReturn</a>
  </div>

  <div id="divT2S">
    <a (click)="speakT2S()" id="btnSpeech">
      <img class="speaker" src="assets/img/icons/speaker.png" alt="text to speech" />
    </a>
    <a (click)="pauseT2S()" class="speakerDisabled" id="btnPause">
      <img class="speaker" src="assets/img/icons/pause.png" alt="pause" />
    </a>
    <a (click)="playT2S()" class="speakerDisabled" id="btnPlay">
      <img class="speaker" src="assets/img/icons/play.png" alt="play" />
    </a>
    <a (click)="cancelT2S()" class="speakerDisabled" id="btnSpeechOff">
      <img class="speaker" src="assets/img/icons/speaker-off.png" alt="stop" />
    </a>
  </div>

  <div id="divOptions">
    <div *ngIf="isRTL == false" id="divOptionsInnerRight">
      <a [routerLink]="['/options']" class="btn btn-light" translate>BtnExit</a>
      <button type="button" id="prevBtn" class="btn btn-secondary" (click)="nextPrev(-1)" translate>BtnPrev</button>
      <button type="button" id="nextBtn" class="btn btn-primary" (click)="nextPrev(1)" translate>BtnNext</button>
      <button type="submit" id="submitBtn" class="btnOff btn btn-success" translate>BtnSubmit</button>
    </div>
    <div *ngIf="isRTL == true" id="divOptionsInnerLeft">
      <button type="submit" id="submitBtn" class="btnOff btn btn-success" translate>BtnSubmit</button>
      <button type="button" id="nextBtn" class="btn btn-primary" (click)="nextPrev(1)" translate>BtnNext</button>
      <button type="button" id="prevBtn" class="btn btn-secondary" (click)="nextPrev(-1)" translate>BtnPrev</button>
      <a [routerLink]="['/options']" class="btn btn-light" translate>BtnExit</a>
    </div>
  </div>

  <div class="divSteps">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>

</form>

<app-footer></app-footer>

<router-outlet></router-outlet>
